<div class="page1">
    <img class="page1-brief"
        src="https://user-images.githubusercontent.com/37357447/189840063-cff08384-3a2d-4744-9df3-a9fcd803d231.png">

    <div class="page1-div1">
        <p class="page1-intro1">专业</p>
        <img class="page1-separator"
            src="https://user-images.githubusercontent.com/37357447/189835997-e968e90e-38d7-4fed-8166-f75d18d41dc1.png">
        <p class="page1-intro2">姓名</p>
    </div>

    <ul class="page1-info-list">
        <li>毕业时间: 2021.09</li>
        <li>工作经验: 1年</li>
        <li>电话号码: xxxxxx</li>
    </ul>
</div>

<div class="page2">

    <!-- 上部 -->
    <div class="page2-div1">
        <!-- 应聘岗位 -->
        <span class="page2-div1-job">
            <div class="page2-div1-job-word">
                <div style="font-size: 30px;">姓名</div>
                <div style="font-size: 15px;">应聘岗位: 工程技术岗</div>
            </div>
        </span>

        <!-- 个人信息 -->
        <span class="page2-div1-info-list">
            <ul style="margin: 0">
                <li>学校: &nbsp;学校名称</li>
                <li>专业: &nbsp;专业名称</li>
                <li>电话: &nbsp;tel</li>
                <li>邮箱: &nbsp;email</li>
            </ul>
        </span>

        <!-- 个人照片 -->
        <span>
            <img class="page2-div1-image-style" src="url">
        </span>

    </div>

    <!-- 下划线 -->
    <div style="padding: 5mm;">
        <img style="width: 100%;"
            src="https://user-images.githubusercontent.com/37357447/190067385-b9d6cb80-2a5b-4bb2-8572-5355dab841a3.png">
    </div>

    <!-- 教育背景 -->
    <div>
        <table style="width: 95%; margin-left: 6mm; margin-top: 10mm; border-spacing:0px 10px;">
            <!-- tr1 -->
            <tr>
                <td class="page2-td-title">教育背景</td>
                <td class="page2-td-blank">
                    <img style="width: 4mm;"
                        src="https://user-images.githubusercontent.com/37357447/190117858-e2bff0ce-50df-479b-938d-ff98470dfe4f.png">
                </td>
                <td class="page2-td-title-blank">
                    <img style="width: 100%"
                        src="https://user-images.githubusercontent.com/37357447/190070065-9858c881-6688-4cd4-b4e2-7ea13d3d0118.png">
                </td>
                <td class=""></td>
            </tr>
            <tr>
                <td class="page2-td-time">2018.09 - 2021.07</td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-brief">学校名称</td>
                <td class="page2-td-job">云南交通职业技术</td>
            </tr>
            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-detail">主要课程：&nbsp;
                    高等数据、CAD工程制图、交换机与路由配置、通信网络综合布线技术、自动控制与PLC应用、电梯与空调技术、中级电工等
                </td>
                <td></td>
            </tr>

            <!-- tr2 -->
            <tr>
                <td class="page2-td-title">校园经历</td>
                <td class="page2-td-blank">
                    <img style="width: 4mm;"
                        src="https://user-images.githubusercontent.com/37357447/190117858-e2bff0ce-50df-479b-938d-ff98470dfe4f.png">
                </td>
                <td class="page2-td-title-blank">
                    <img style="width: 100%"
                        src="https://user-images.githubusercontent.com/37357447/190070065-9858c881-6688-4cd4-b4e2-7ea13d3d0118.png">
                </td>
                <td class=""></td>
            </tr>
            <tr>
                <td class="page2-td-time">2018.09 - 2021.07</td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-brief">数学建模协会</td>
                <td class="page2-td-job">组织部负责人</td>
            </tr>
            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-detail"> 1、组织策划和开展各类数学建模的实践与创新活动；</br>
                    2、挖掘建模爱好者的潜能，建立数学模型、解决实际问题的能力；</br>
                    3、负责招纳新成员、签到工作、考勤以及纪律维护。</br>
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td class="page2-td-next-line"></td>
                <td class="page2-td-next-line"></td>
            </tr>

            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-brief">勤工助学</td>
                <td class="page2-td-job">负责人</td>
            </tr>
            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-detail">1、任职勤工负责人，带组打扫校园卫生；<br />
                    2、协助主管团组织晚会工作，工作认真负责 。
                </td>
                <td></td>
            </tr>



            <!-- tr3 -->
            <tr>
                <td class="page2-td-title">工作经历</td>
                <td class="page2-td-blank">
                    <img style="width: 4mm;"
                        src="https://user-images.githubusercontent.com/37357447/190117858-e2bff0ce-50df-479b-938d-ff98470dfe4f.png">
                </td>
                <td class="page2-td-title-blank">
                    <img style="width: 100%"
                        src="https://user-images.githubusercontent.com/37357447/190070065-9858c881-6688-4cd4-b4e2-7ea13d3d0118.png">
                </td>
                <td class=""></td>
            </tr>
            <tr>
                <td class="page2-td-time">2020.08 - 至今</td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-brief">公司名</td>
                <td class="page2-td-job">材料员</td>
            </tr>
            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-detail">1.工作1; <br />
                    2.工作2<br />
                    3.工作3<br />
                </td>
                <td></td>
            </tr>

            <!-- tr4 -->
            <tr>
                <td class="page2-td-title">职称证书</td>
                <td class="page2-td-blank">
                    <img style="width: 4mm;"
                        src="https://user-images.githubusercontent.com/37357447/190117858-e2bff0ce-50df-479b-938d-ff98470dfe4f.png">
                </td>
                <td class="page2-td-title-blank">
                    <img style="width: 100%"
                        src="https://user-images.githubusercontent.com/37357447/190070065-9858c881-6688-4cd4-b4e2-7ea13d3d0118.png">
                </td>
                <td class=""></td>
            </tr>
            <tr>
                <td class="page2-td-time"></td>
                <td class="page2-td-blank"></td>
                <td class="page2-td-detail">
                    1. 高校英语能力A级证书 <br />
                    2. 驾驶证 <br />
                    3. 院舞蹈大赛一等奖 <br />
                    4. 普通话证书
                </td>
                <td></td>
            </tr>
        </table>
    </div>

    <img class="page2-image-string"
        src="https://user-images.githubusercontent.com/37357447/190121583-8f302a44-30f1-40b7-a770-5bae7b6aff7d.png">
</div>


<style>
    /******************************************  page1  ******************************************************/

    .page1 {
        /* Background pattern from Toptal Subtle Patterns */
        background-image: url("https://user-images.githubusercontent.com/37357447/189831262-3dea9156-159c-4668-a2e5-496a3e0a115f.png");
        height: 297mm;
        width: 210mm;
        /* https://blog.csdn.net/enterlind/article/details/81316756 */
        position: relative;
    }

    .page1>* {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .page1-div1 {
        top: 35%;
        left: 50%;
        width: 100%;
        height: 70%;
    }

    .page1-div1>* {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .page1-brief {
        height: 5%;
        top: 20%;
        left: 50%;
    }

    .page1-intro1 {
        left: 50%;
        top: 42%;
        font-size: 30px;
        color: #2dbecc;
    }

    .page1-separator {
        top: 50%;
        left: 50%;
    }

    .page1-intro2 {
        left: 50%;
        top: 50%;
        font-size: 30px;
        color: #2dbecc;
    }

    .page1-info-list {
        font-weight: bolder;
        color: #2dbecc;
        top: 60%;
        left: 50%;
        list-style-type: none;
        font-size: larger;
    }

    .page1-info-list>li {
        margin-top: 5mm;
    }

    /******************************************  page2  ******************************************************/

    /* 
    块级元素
        内联元素   内联元素  内联元素
            浮动定位1
            浮动定位2
    块级元素

    */
    .page2 {
        /* Background pattern from Toptal Subtle Patterns */
        width: 210mm;
        /* https://blog.csdn.net/enterlind/article/details/81316756 */
        position: absolute;
    }

    .page2-div1 {}

    .page2-div1>* {
        display: inline-block;
    }

    .page2-div1-job {
        position: relative;
        width: 80mm;
        height: 40mm;
        background-image: url("https://user-images.githubusercontent.com/37357447/189868494-b892610d-fc77-4390-9101-a8578fe90ede.png");
    }

    .page2-div1-job>* {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .page2-div1-job-word {
        width: 50mm;
        color: #fff;
        left: 65%;
        top: 65%;
    }

    .page2-div1-info-list {
        color: #2dbecc;
        width: 80mm;
        font-weight: bolder;
    }

    .page2-div1-info-list>ul>li {
        margin-top: 3mm;
    }

    .page2-div1-image-style {
        width: 45mm;
    }

    .page2-td-title {
        color: #2dbecc;
        width: 40mm;
        font-weight: bolder;
        font-size: large;
    }

    .page2-td-blank {
        width: 5mm;
    }

    .page2-td-title-blank {}




    .page2-td-time {}

    .page2-td-brief {}

    .page2-td-job {}

    .page2-td-detail {
        width: 120mm;
    }

    .page2-td-next-line {
        background-image: url("https://user-images.githubusercontent.com/37357447/190294379-b84b02c5-12c3-41f6-a159-1b45c1f41a6d.png");
    }

    .page2-image-string {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 68.3%;
        left: 23.4%;
        height: 180mm;
    }
</style>

<script>

    window.onload = function () {
        initTd();
    }

    function initTd() {
        var doms = document.getElementsByClassName("page2-td-title-blank");
        colspan(doms)

        var details = document.getElementsByClassName("page2-td-detail");
        colspan(details)
    }

    function colspan(doms) {
        for (const iterator of doms) {
            iterator.setAttribute("colspan", "2");
        }
    }

</script>